/* TODO - remove text-dec from <a>'s, border-left of desc */
:root {
    --color-bg: #f9fafc;
    --color-gray: #69696a;
    --color-black: #000;
    --color-white: #fff;
    --color-pink: rgba(247, 136, 167, 0.6);
    --color-orange: rgba(247, 193, 162, 0.7);
    --color-purple: rgba(207, 130, 213, 0.6);
}

html, body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: var(--color-bg);
    margin: .5rem;
    padding: 0;
}


*, *::before, *::after {
    box-sizing: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

ul, li {
    margin: .5rem 0;
    list-style: none;
}

ul, li, a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-gray);
}

ul, li, .logo:visited {
    color: var(--color-black);
}

ul, li, .nav-link:visited {
    color: var(--color-gray);
}

.logo a{
    color: var(--color-black);
}

.btn-box {
    text-align: center;
    background-color: var(--color-black);
    border-radius: 15px;
    padding: .3rem 0;
}

.btn {
    font-size: .9rem;
    color: var(--color-white);
}

main, h1 {
    font-size: 16px;
    margin-top: 2rem;
    margin-bottom: 0;
}

.description {
    margin-bottom: 2rem;
    padding: 0 1rem;
    color: var(--color-gray);
    border-left: 1px solid var(--color-gray);
}

.circles {
    display: none;
}

/*  Media Queries */

@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .logo {
        margin-right: auto;
        margin-top: 0;
    }

    .navigation li {
        display: inline-block;
        padding: 0 1rem;
    }

    .cta {
        padding: .3rem 1rem;
        border-radius: 20px;
    }

    main {
        margin-top: 8rem;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
    }

    .description {
        max-width: 50vw;
    }

    .circles {
        position: relative;
        display: initial;
        width: 100%;
        max-width: 50vw;
        margin-top: -1.5rem;
        margin-left: auto;
    }

    .circle-lg {
        position: absolute;
        background-color: var(--color-pink);
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        right: 5rem;
    }

    .circle-md {
        position: absolute;
        background-color: var(--color-orange);
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        right: 0;
        top: 6.5rem;
    }

    .circle-sm {
        position: absolute;
        background-color: var(--color-purple);
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        right: 0;
    }
}